<app-menu *ngIf = "!startSeen"></app-menu>

<ion-content padding class="background">

  <!--<ion-card class="card" *ngIf="cardSeen">
    <div class="card-header"><ion-card-header color="danger">Score: {{ this.roundScore }}</ion-card-header></div>
    <ion-card-content>
      <ion-button>Hello!</ion-button>
    </ion-card-content>
  </ion-card>!-->

<div id="button">
  <ion-button 
   *ngIf = "this.startSeen"
    (click)="createLevel()" 
     fill="outline"
     [color]="red">
     Start Game
  </ion-button>
</div>
      
  

  <h3 *ngIf="!cardSeen" style="text-align: center"><strong>{{ question }}</strong></h3>
  
  
  <ion-button 
      id="round"
      *ngFor="let element of buttonArray; index as i"  
      fill= "{{ element.box }}"
      [ngStyle]="{'color':getColor(element.color)}"
     (click)="checkAnswer(i, element.color, element.value, element.box)" (click)="element.clicked='true'" [disabled]="element.clicked"> 
    {{ element.value }}
  </ion-button>
  
</ion-content>
